<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alain.mk.padiver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:label="Login"/>

        <activity
            android:name=".auth.SignUpActivity"
            android:parentActivityName=".auth.LoginActivity"
            android:label="Create Account"/>

        <activity
            android:name=".message.MessageActivity"
            android:theme="@style/AppTheme.NoTitle"/>
        <activity
            android:name=".ImageActivity"
            android:parentActivityName=".home.HomeActivity"/>

        <activity
            android:name=".post.PostActivity"
            android:parentActivityName=".home.HomeActivity"
            android:label="Exprimez vous"/>

        <activity
            android:name=".detail.DetailPostActivity"
            android:theme="@style/AppTheme.NoTitle"
            android:parentActivityName=".home.HomeActivity"/>
    </application>

</manifest>